<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        <%= cssContent %>

    </style>
</head>
<body class="">
    <h1 class="text-yellow-600">hello world</h1>
    <button class="active:scale-90 transition-all px-3 py-1 bg-blue-500 cursor-pointer">Click Me</button>
</body>
</html>